.App {
  text-align: center;
}

.logo{
  width: 100px;
}
.navbar{
  display: flex;
  align-content: space-around;
}
.subNav{
  display: flex;
  flex-direction: row;
}
.subNav li{
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;

}

