*{
  margin: 0;

}
.App {
  text-align: center;
}

.logo{
  width: 100px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}
.navbar-logged{
  
}
.subNav{
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 40px;
  text-decoration: none;
}
.subNav p{
  padding: 10px;
}
.subNav p:hover{
  background-color: darkorange;
  padding: 90px;
}

.logos{
  width: 150px;
}


